#present_container {
    max-width: 700px;
    margin: 0px;
}
#present_container p {
    background: red;
    display: inline-block;
    margin: 10px;
    padding: 30px 5px;
    text-align: center;
    width: 200px;
    color: white;
}
#present_container .present {
    background: yellow;
    color: #333;
    transition-property: background;
    transition-duration: 1s;
}

input {
    widows: 185px;
    height: 30px;
}

td {
    width: 40px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}